.mc {
  background-color: lightblue;
}

.box {
  height: 300px;
  max-width: 500px;
  margin-bottom: 10px;
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-dif {
  height: 100px;
  width: 600px;
  background-color: lightpink;
}

.row {
  background-color: lightgoldenrodyellow;
}

.col {
  background-color: lightgoldenrodyellow;
  padding: 0;
}
